
.signin_form_container {
  max-width: 760px;
  /* height: 729px; */
  /* margin: 100px auto; */
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #000;
   font-family: Inter;
   font-size: 30px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   background-color: white;
   opacity: default;
}

.signInPara{
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  margin-bottom: 50px;
}
.form_group {
  /* margin: 30px 0px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_group img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.form_group input[type="email"] {
   width: 100%;
   height: 80px;
   border: 1px solid #DDD;
   
}

.boxImageEmail{
  background-image: url('../Assets/Email.png');
  background-position: 10px center ; 
  background-repeat: no-repeat;
  padding-left:50px;
  

} 

.forgotPassword_section{
  margin-top: 30px;
  margin-bottom: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.7;
  /* border: 1px solid red; */

}
.checkbox{
width: 20px;
height: 20px;
border-radius: 2px;
background-color: #a29e9e;
margin-right: 10px;
}
/* .remember_me {
  text-align: left;
  margin-bottom: 10px;
} */

.forgot_password {
 cursor: pointer;
}

.buttonReset,.buttonCreateAccount{
  width: 100%;
  padding: 20px;
  border: 1px solid #DDD;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttonReset {
  background-color:#37B38B;
}

.buttonCreateAccount {
  background: #000;
}

.orOption{
margin: 20px 0px;
}
.blank_message{
  text-align: left;
  color: red;
  font-size: 16px;
}

/* login Styles */


#topbodyContainer{
  /* border: 1px solid red; */
  /* padding-top: 40px; */
  padding: 50px;
  /* gap: 100px; */
  
}
/* .col1, .col2{
  border: 1px solid red;
  
  
} */
.col1{
  display: inline-block;
  align-self: flex-end;

}
.col2{
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.firstParaService{
  color: #000;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  line-height: 80px;
}
.firstParaService span{
  color: #37B38B;
  font-weight: 900;
  
}

.secondParaDriveXuber{
  color: #000;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 40px;
word-spacing: 2px;
}

.first_div_col1_image{
  margin-top: 20px;
  max-width: 100%;
}


/* media queries */


@media only screen and (max-width:991px)
{
  /* .col1{
    display: flex;
    flex-direction:column;
    text-align:justify;
  
  } */
  .col2{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 50px;
  
  }
}

@media only screen and (max-width:1400px)
{
  .firstParaService{
    font-size: 50px;
    line-height: 60px;
  }
  
  
  .secondParaDriveXuber{
  font-size: 20px;
  
  }
}
@media only screen and (max-width:1025px)
{
  .firstParaService{
    font-size: 45px;
    line-height: 60px;
  }
  
  
  .secondParaDriveXuber{
  font-size: 20px;
  
  }
  /* .forgotPassword_section{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items:flex-start;
    gap: 20px;
  } */
}
@media only screen and (max-width:991px)
{
  #topbodyContainer{
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    padding-top: 0px;
    /* margin-top: 0px;
    
    border: 1px solid red;
    padding-top: 0px; */
  }
}
@media only screen and (max-width:563px)
{
  
 
  #topbodyContainer{
    padding-bottom: 20px;
    
  }
  .firstParaService{
    font-size: 30px;
    line-height: 50px;
    
    
  }
  
  
  .secondParaDriveXuber{
  font-size: 18px;
  
  
  }
  .forgotPassword_section{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items:flex-start;
    gap: 20px;
  }


  /* form */

  .signin_form_container {
     padding: 20px;
     font-size: 20px;
    
  }
  
  .signInPara{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .form_group img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .forgotPassword_section{
    margin-top: 30px;
    margin-bottom: 42px;
    display: flex;
    align-items: left;
    justify-content: space-between;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.7;
    /* border: 1px solid red; */
  
  }
  .checkbox{
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #a29e9e;
  margin-right: 10px;
  }
  
  
  .buttonReset,.buttonCreateAccount{
    padding: 15px;
    font-size: 20px;
  }
  .boxImageEmail{
 
      background-size: 25px;
      padding-left: 40px;
  
    }
    .orOption{
      margin: 10px 0px;
      }
      .form_group input[type="email"] {
        width: 100%;
        height: 50px;
        border: 1px solid #DDD;
        
     }
    /* .col1{
      padding-bottom: 50px;
    }
   */
}

@media screen and (max-width:450px){
  #topbodyContainer{
    /* border: 1px solid red; */
    /* padding-top: 40px; */
    padding: 0px 0px 20px;
    /* gap: 100px; */
    
  }
  .signInPara{
    font-size: 12px;
    
  }
  
  .form_group input[type="email"],
  .form_group input[type="password"] {
   width: 100%;
   height: 50px;
   padding-left: 40px;
   font-size: 18px;
}
.buttonReset,.buttonCreateAccount{
  padding: 10px 0px;
  font-size:14px
}
}
