.fullComponent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainDiv {
  padding: 150px 0px;
  gap: 20px;
  align-items: top;
  width: 100%;
  margin: auto;
  justify-content: center;
}

.signin_form_container {
  max-width: 600px;
  /* height: 729px; */
  /* margin: 100px auto; */
  padding: 30px 60px;
  border: 1px solid #ccc;
  /* border-radius: 5px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  text-align: center;
  color: #000;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: white;
}
.signupSuccessfullyToken {
  color: #28ca97;
  font-size: 16px;
  text-align: left;
}
.blank_message {
  color: red;
  font-size: 14px;
  text-align: left;
}
.signUpPara {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  margin-bottom: 9px;
}
.form_group {
  /* margin: 10px 0px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.form_group input[type="text"],
.form_group input[type="email"],
.form_group input[type="password"] {
  width: 100%;
  height: 50px;
  border: 1px solid #ddd;
  font-size: 18px;
  /* background: #FCFCFC; */
}

.boxImagePassword {
  background-image: url("../../Assets/Password.png");
  background-position: 10px center;
  background-repeat: no-repeat;
  padding-left: 50px;
  size: 20px;
  background-size: 25px;
}

.buttonRegister,
.buttonCreateAccount {
  width: 100%;
  height: 50px;
  border: 1px solid #ddd;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
  background-color: #37b38b;
}
.buttonRegister:hover {
  background-color: #28ca97;
}

.note_password span {
  font-size: 14px;
  color: rgb(255, 60, 0);
}
.note_password {
  color: #565958;
  font-size: 14px;
  text-align: justify;
}
.footer {
  margin-top: auto;
}

@media only screen and (max-width: 563px) {
  .buttonRegister {
    padding: 15px;
    font-size: 20px;
  }
  .boxImagePassword,
  .boxImageConfirmPassword {
    background-size: 25px;
    padding-left: 40px;
  }
}
@media screen and (max-width: 991px) {
  .signin_form_container {
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 650px) {
  .signin_form_container {
    width: 90%;
  }
}
@media screen and (max-width: 450px) {
  .signin_form_container {
    padding: 20px;
    font-size: 18px;
  }
  .signInPara {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin-bottom: 40px;
  }

  .form_group input[type="email"],
  .form_group input[type="password"] {
    width: 100%;
    height: 50px;
    padding-left: 40px;
    font-size: 16px;
  }
}

.offCanvas {
  display: none;
  flex: 1;
}

@media screen and (max-width: 767px) {
  .dashboard {
    display: none;
  }
  .mainDiv {
    padding: 70px 20px;
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  .offCanvas {
    display: block;
  }
}
